In [2]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [3]:
t=pd.read_csv('test.csv')

In [4]:
slack=['BusinessTravel','EnvironmentSatisfaction','JobInvolvement','StockOptionLevel','MonthlyIncome','OverTime']

In [5]:
slack_willingness=[60, 70, 80, 40, 20, 60]

In [6]:
import math
s=sum(slack_willingness)
for i in range(len(slack_willingness)):
  slack_willingness[i]=(slack_willingness[i]/s)*100

In [7]:
train=pd.read_csv("train.csv")
max(train['WorkLifeBalance'])

4

In [153]:
fulllis=[]
for a in range(len(slack)):
  global fulllis
  lis=[]
  if slack[a]=='MonthlyIncome':
      for i in range(6):
        lis.append(i*5)
  elif slack[a]=='YearsInCurrentRole' or slack[a]=='YearsSinceLastPromotion' or slack[a]=='YearsWithCurrManager':
        lis.append(0)
  else:
      for i in range(min(train[slack[a]]),max(train[slack[a]])+1):
        lis.append(i)
  fulllis.append(lis)

In [154]:
fulllis

[[1, 2, 3],
 [1, 2, 3, 4],
 [1, 2, 3, 4],
 [0, 1, 2, 3],
 [0, 5, 10, 15, 20, 25],
 [0, 1]]

In [132]:
test_var=[[1,2,3,4],
                   [1,2,3,4],
                   [18,36,54,72]]
from sklearn.preprocessing import StandardScaler,scale,MinMaxScaler
mx=MinMaxScaler()
ctr=0
scaled_li=[]
for itr in fulllis:
  mx.fit(np.array(itr).reshape(-1,1))
  scaled_li.append((mx.transform(np.array(itr).reshape(-1,1))).tolist())
  ctr+=1
#mx.fit(np.array(fulllis[0]).reshape(-1,1))
#print(mx.transform(test_var))
mx.fit(np.array(fulllis[4]).reshape(-1,1))
fulllis[4]=((mx.transform(np.array(fulllis[4]).reshape(-1,1))).tolist())
fulllis

[[1, 2, 3],
 [1, 2, 3, 4],
 [1, 2, 3, 4],
 [0, 1, 2, 3],
 [[0.0], [0.25], [0.5], [0.75], [1.0]],
 [0, 1]]

In [120]:
attrition_1[slack[0]][0:1]

2    3
Name: BusinessTravel, dtype: int64

In [8]:
attrition_1=t.loc[t['Attrition']==1].copy()

In [158]:
import itertools
"""gcounter=1
import time
start = time.time()
for x in list(itertools.product(*fulllis)):
  temp=attrition_1.copy()
  for i in range(len(x)):
    if(slack[i]=='MonthlyIncome'):
      temp[slack[i]]=temp[slack[i]]+x[i]
    else:
      temp[slack[i]]=x[i]
  pr=model.predict(h2o.H2OFrame(temp))
  print(x)
  print(gcounter,"--->",list(pr.as_data_frame().predict))
  gcounter=gcounter+1
end = time.time()
print(f"Runtime of the program is {end - start}")"""

temp=attrition_1.copy()
all_expdata=pd.DataFrame(columns=attrition_1.columns)
import time
start = time.time()
for idx,itr_attrition1 in temp.iterrows():
  for x in list(itertools.product(*fulllis)):
    for i in range(len(x)):
      if(slack[i]=='MonthlyIncome'):
        itr_attrition1[slack[i]]=attrition_1[slack[i]][idx]+attrition_1[slack[i]][idx]*(x[i]/100)
      else:
        itr_attrition1[slack[i]]=x[i]
    all_expdata=all_expdata.append(itr_attrition1)
end = time.time()
print('Created new Experimental dataframe elapsed time --> ',end-start)

Created new Experimental dataframe elapsed time -->  2273.756254673004

In [159]:
all_expdata.shape

(112896, 43)

In [160]:
all_expdata.to_csv('experimental_testdata.csv')

In [161]:
all_expdata.head(25)

  Age Attrition  ... Sales Executive Sales Representative
2  35         1  ...               1                    0
2  35         1  ...               1                    0
2  35         1  ...               1                    0
2  35         1  ...               1                    0
2  35         1  ...               1                    0
2  35         1  ...               1                    0
2  35         1  ...               1                    0
2  35         1  ...               1                    0
2  35         1  ...               1                    0
2  35         1  ...               1                    0
2  35         1  ...               1                    0
2  35         1  ...               1                    0
2  35         1  ...               1                    0
2  35         1  ...               1                    0
2  35         1  ...               1                    0
2  35         1  ...               1                    0
2  35         1  ...               1                    0
2  35         1  ...               1                    0
2  35         1  ...               1                    0
2  35         1  ...               1                    0
2  35         1  ...               1                    0
2  35         1  ...               1                    0
2  35         1  ...               1                    0
2  35         1  ...               1                    0
2  35         1  ...               1                    0

[25 rows x 43 columns]

##New start-using slack,slack_willingness,attrition_1 from above

In [79]:
checking=pd.read_csv('experimental_testdata.csv')

In [80]:
checking.head()

   Test2attrition_index  Age  ...  Sales Executive  Sales Representative
0                     2   35  ...                1                     0
1                     2   35  ...                1                     0
2                     2   35  ...                1                     0
3                     2   35  ...                1                     0
4                     2   35  ...                1                     0

[5 rows x 44 columns]

In [81]:
attrition_1.shape

(49, 43)

In [82]:
newdf=pd.DataFrame(columns=attrition_1.columns[2:43])
for i in range(49):
  newdf=newdf.append(pd.DataFrame(np.array(checking.iloc[i*2304:(i+1)*2304,3:44])-np.array(attrition_1.iloc[i,2:43]),columns=attrition_1.columns[2:43]))

In [83]:
attrition_1.head()

    Age  Attrition  ...  Sales Executive  Sales Representative
2    35          1  ...                1                     0
4    29          1  ...                0                     0
6    34          1  ...                1                     0
9    56          1  ...                0                     0
11   39          1  ...                0                     0

[5 rows x 43 columns]

In [84]:
pred=pd.read_csv('predictedprobvalues.csv')
pred.head()
slect=checking.loc[pred['predict']==0].copy()

In [85]:
slect.index

Int64Index([     0,      2,      4,      6,      8,     10,     12,     14,
                16,     18,
            ...
            112886, 112887, 112888, 112889, 112890, 112891, 112892, 112893,
            112894, 112895],
           dtype='int64', length=72620)

In [86]:
newdf.insert(0,checking.columns[0],np.array(checking.iloc[:,0])) #inserting back key to groupby after subtraction of new from old

In [87]:
newdf=newdf.reset_index()
newdf_predict=newdf.iloc[slect.index].copy()    #newdfpredict is all values of new - old where attrition is 0
print(newdf.head())
print(newdf_predict.head())
#newnewdf_predict.reset_index()

   index  Test2attrition_index  ... Sales Executive Sales Representative
0      0                     2  ...               0                    0
1      1                     2  ...               0                    0
2      2                     2  ...               0                    0
3      3                     2  ...               0                    0
4      4                     2  ...               0                    0

[5 rows x 43 columns]
   index  Test2attrition_index  ... Sales Executive Sales Representative
0      0                     2  ...               0                    0
2      2                     2  ...               0                    0
4      4                     2  ...               0                    0
6      6                     2  ...               0                    0
8      8                     2  ...               0                    0

[5 rows x 43 columns]

In [170]:
print(newdf_predict.head(10))
newdf_predict.to_csv('predicted_subtract.csv')
#set(newdf_predict.iloc[:,0])

    index  Ogtest-attrition_index  ... Sales Executive Sales Representative
0       0                       2  ...               0                    0
2       2                       2  ...               0                    0
4       4                       2  ...               0                    0
6       6                       2  ...               0                    0
8       8                       2  ...               0                    0
10     10                       2  ...               0                    0
12     12                       2  ...               0                    0
14     14                       2  ...               0                    0
16     16                       2  ...               0                    0
18     18                       2  ...               0                    0

[10 rows x 43 columns]

In [89]:
#prearr=np.zeros((newdf_predict.shape[0],1),dtype='float')
#indices=np.zeros(49,1)
#for j in range(49):
"""for i in range(len(slack)):
    prearr=prearr+np.array(newdf_predict[slack[i]]*slack_willingness[i])"""
newvar=newdf_predict[slack].copy()      #seperating slack variable vectors(all rows) to newvarr

In [90]:
vector_ofcost=newvar@np.array(slack_willingness)    #multiplying by unwillingness factor

In [91]:
vector_ofcost   #the index of cost(in experimental_testdata) and cost

0        -178.788
2         1215.15
4         2615.15
6         4015.15
8         5409.09
           ...
112891    5775.76
112892     7630.3
112893    7648.48
112894    9503.03
112895    9521.21
Length: 72620, dtype: object

In [41]:
slack_willingness

[18.181818181818183,
 21.21212121212121,
 24.242424242424242,
 12.121212121212121,
 6.0606060606060606,
 18.181818181818183]

In [92]:
groupby_cost=np.hstack((np.array(newdf_predict.iloc[:,1]).reshape(-1,1),(vector_ofcost.values).reshape(-1,1)))    #merging groupby keys and cost

In [93]:
set(groupby_cost[:,0])

{2,
 4,
 6,
 9,
 11,
 13,
 17,
 33,
 38,
 45,
 48,
 49,
 51,
 54,
 57,
 66,
 67,
 69,
 78,
 100,
 101,
 123,
 131,
 132,
 136,
 145,
 148,
 153,
 160,
 163,
 171,
 174,
 183,
 188,
 191,
 198,
 202,
 213,
 214,
 228,
 240,
 252,
 257,
 259,
 267,
 268,
 280,
 287,
 291}

In [94]:
newtemp

array([[2, -178.7878787878788],
       [2, 1215.1515151515152],
       [2, 2615.1515151515155],
       ...,
       [291, 7648.484848484849],
       [291, 9503.030303030304],
       [291, 9521.212121212122]], dtype=object)

In [95]:
og_cost=pd.DataFrame(groupby_cost,columns=['OG','cost'],index=vector_ofcost.index)    #converting groupby keys and cost to dataframe and again index is of experimental_testdata

In [96]:
og_cost.head()

  OG     cost
0  2 -178.788
2  2  1215.15
4  2  2615.15
6  2  4015.15
8  2  5409.09

In [97]:
verify_mincost=pd.DataFrame(og_cost.groupby('OG')['cost'].min())
verify_mincost.head(49)

           cost
OG
2   -178.787879
4   -109.090909
6    -60.606061
9   -142.424242
11  -109.090909
13   -36.363636
17  -118.181818
33  -103.030303
38   -84.848485
45  -127.272727
48   -30.303030
49  -118.181818
51   -93.939394
54   -42.424242
57  -136.363636
66   -69.696970
67   -60.606061
69   -66.666667
78   -69.696970
100  -75.757576
101  -93.939394
123  -69.696970
131  -96.969697
132  -90.909091
136 -103.030303
145 -130.303030
148 -115.151515
153  -36.363636
160 -133.333333
163  -39.393939
171 -109.090909
174  -87.878788
183  -51.515152
188  -81.818182
191  -93.939394
198 -106.060606
202  -18.181818
213  -96.969697
214  -84.848485
228   12.121212
240 -181.818182
252   12.121212
257  -90.909091
259  -33.333333
267 -115.151515
268  -96.969697
280  -69.696970
287 -172.727273
291  -57.575758

In [105]:
setofog=np.unique(og_cost.iloc[:,0])
idxofmincost=[]
i=0
for itr_og in setofog:
  predidx=5000000
  predid=0
  for idx,itr in og_cost.iloc[i:og_cost.shape[0],:].iterrows():
    if(itr[0]==itr_og):
      if(predidx>itr[1]):
        predidx=itr[1]
        predid=idx
      i=i+1
    else:
      break
    
  idxofmincost.append(predid)

In [104]:
idxofmincost    #using this idxofmincost.append(predidx) instead of this idxofmincost.append(predidx) to verify if values are minimum

[-178.7878787878788,
 -109.0909090909091,
 -60.60606060606061,
 -142.4242424242424,
 -109.0909090909091,
 -36.36363636363637,
 -118.18181818181819,
 -103.03030303030303,
 -84.84848484848484,
 -127.27272727272728,
 -30.303030303030305,
 -118.18181818181819,
 -93.93939393939394,
 -42.42424242424242,
 -136.36363636363637,
 -69.6969696969697,
 -60.60606060606061,
 -66.66666666666667,
 -69.69696969696969,
 -75.75757575757575,
 -93.93939393939394,
 -69.6969696969697,
 -96.96969696969697,
 -90.9090909090909,
 -103.03030303030303,
 -130.3030303030303,
 -115.15151515151516,
 -36.36363636363637,
 -133.33333333333331,
 -39.39393939393939,
 -109.0909090909091,
 -87.87878787878788,
 -51.515151515151516,
 -81.81818181818181,
 -93.93939393939394,
 -106.06060606060606,
 -18.18181818181818,
 -96.96969696969697,
 -84.84848484848484,
 12.121212121212118,
 -181.8181818181818,
 12.121212121212121,
 -90.9090909090909,
 -33.33333333333333,
 -115.15151515151516,
 -96.96969696969697,
 -69.69696969696969,
 -172.72727272727275,
 -57.57575757575758]

In [106]:
idxofmincost    #Final index(w.r.t experimental_testdata) of all minimum cost

[0,
 2508,
 4608,
 6912,
 9216,
 11520,
 13824,
 16128,
 18432,
 20736,
 23052,
 25344,
 27660,
 29952,
 32256,
 34560,
 36864,
 39168,
 41676,
 43788,
 46092,
 48588,
 50892,
 53196,
 55296,
 57600,
 59904,
 62208,
 64524,
 67032,
 69120,
 71424,
 73932,
 76032,
 78540,
 80832,
 82968,
 85248,
 87552,
 90612,
 92160,
 94668,
 96972,
 99276,
 101376,
 103872,
 106188,
 108288,
 110592]